# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache/

# Uploaded images
static/uploads/*
!static/uploads/.gitkeep

# Dataset
Europian_Flags/
Europian_Flags.zip

# Environment
.env
.env.*

# Logs
*.log

# Jupyter
.ipynb_checkpoints/